.left-side-movimientos {
  width: 47.5%;
}

.right-side-movimientos {
  width: 47.5%;
  margin-left: 52.5%;
  position: relative;
  top: -86px;
}

.botonera-movimientos {
  margin-top: -130px;
}

.movimientos-izq {
  width: 30%;
  position: relative;
  top: -80px;
}

.movimientos-centro {
  width: 30%;
  margin: 0 calc(35% - 5px);
  position: relative;
  top: -166px;
}

.movimientos-der {
  width: 30%;
  position: absolute;
  right: 16px;
  top: 91px;
}
