.banner {
  background: url(../../../content/images/banner-quesos.jpg) no-repeat 50%;
  background-position: center;
  background-size: cover;
  height: calc(100vh - 50px);
  width: 100vw;
  margin: -6px 0 0 -2px;
}

.card-home {
  width: 400px;
  position: absolute;
  left: 10vw;
  top: 50vh;
  padding: 15px;
  border-radius: 15px;
}

.titulo {
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 45px;
}

.parrafo {
  color: #fff;
  margin-top: 15px;
  font-size: 18px;
}

.que-es {
  margin-bottom: 50px;
}

.raya {
  height: 5px;
  background: #ffbc21;
  margin: 10px 0;
  border-radius: 5px;
}

.main-home {
  width: 95%;
  margin: 25px 0 0 0;
  padding: 25px 0 0 0;

  & > div {
    margin-left: -4.8%;
    display: flex;
    justify-content: center;

    & > .pasos {
      width: 92%;
      padding: 50px 0 100px 0;

      .container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        flex-wrap: wrap;
        z-index: 1;
      }

      .container .carta {
        position: relative;
        width: 250px;
        height: 150px;
        margin: 30px;
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        background: rgba(255, 255, 255, 0.1);
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(5px);
      }

      .carta .contenido {
        padding: 20px;
        text-align: center;
        transition: 0.5s;
      }

      .contenido h2 {
        position: absolute;
        top: -20px;
        right: 10px;
        font-size: 8em;
        color: rgba(0, 0, 0, 0.05);
        pointer-events: none;
      }

      .contenido h3 {
        font-size: 1.5em;
        color: black;
        z-index: 1;
      }

      .contenido p {
        font-size: 1em;
        color: black;
        font-weight: 300;
      }

      .contenido a {
        position: relative;
        display: inline-block;
        padding: 8px 20px;
        margin-top: 15px;
        background: black;
        color: white;
        border-radius: 20px;
        text-decoration: none;
        font-weight: 500;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
      }
    }
  }
}

footer {
  width: 100vw;
  margin-left: -1px;
  height: 238px;
  background-color: #eee1d8;

  & > .animals {
    background: url(../../../content/images/footer-animals.jpg) no-repeat 50%;
    width: 100%;
    height: 100%;
    display: flex;

    & > .sectorIzq {
      flex: 3;
      // background: #21ff33;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      & > .lineHori {
        margin-top: 30px;
        width: 90%;
        height: 1px;
        background: #8b8b8b;
      }

      & > a {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: 40px;
        text-decoration: none;
        color: #2e3a59;
      }
    }

    & > .sectorCent {
      flex: 1;
      // background: #ffbc21;
      display: flex;
      flex-direction: column;
      align-items: center;

      & > h1 {
        padding: 15px;
        font-size: 32px;
        font-family: poppins;
        font-weight: 700;
        color: #d4a939;
      }

      & > a {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        // margin-top: 40px;
        text-decoration: none;
        color: #2e3a59;
      }

      & > .redes {
        width: 100%;
        height: 30px;
        // background-color: red;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 5px;

        img {
          width: 25px !important;
          height: 25px !important;
        }
      }

      .lineVert {
        width: 2px;
        height: 45px;
        background: #8b8b8b;
        margin: -10px 0 10px 0;
      }

      .copy {
        font-family: poppins;
        margin-top: 20px;
        font-size: 12px;
        color: black;
      }
    }

    & > .sectorDer {
      flex: 3;
      // background: #216fff;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      & > .lineHori {
        margin-top: 30px;
        width: 90%;
        height: 1px;
        background: #8b8b8b;
      }
    }
  }
}

// ---------------- PASOS ----------------

.main-container {
  width: 1000px;
  margin: 0 auto;
}

.color-1 {
  color: #b87fa8;
}

.color-2 {
  color: #dc007c;
}

.color-3 {
  color: #ffb200;
}

.color-4 {
  color: #a6b469;
}

.color-5 {
  color: #159888;
}

.color-6 {
  color: #1767fe;
}

.color-7 {
  color: #17a0fe;
}

.color-8 {
  color: #a74e8e;
}

.inforgraphic-box p {
  color: #161616;
  font-size: 22px;
}

.inforgraphic-box h5 {
  font-size: 26px;
}

.text-style {
  position: absolute;
  list-style: none;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.steps li span {
  float: left;
  width: 100%;
  font-size: 40px;
  line-height: 25px;
}

.container-inner-img {
  width: 482px;
  margin: 126px auto;
  position: relative;
}

.inforgraphic-box {
  position: absolute;
  width: 245px;
}

.inforgraphic-box.info-pos-1 {
  top: -65px;
  left: -60px;
  text-align: right;
}

.inforgraphic-box.info-pos-2 {
  top: -65px;
  left: 300px;
}

.inforgraphic-box.info-pos-3 {
  top: 120px;
  left: 500px;
  width: 246px;
}

.inforgraphic-box.info-pos-4 {
  top: 290px;
  left: 500px;
}

.inforgraphic-box.info-pos-5 {
  top: 490px;
  left: 300px;
}

.inforgraphic-box.info-pos-6 {
  top: 490px;
  left: -60px;
  text-align: right;
}

.inforgraphic-box.info-pos-7 {
  top: 290px;
  left: -260px;
  text-align: right;
}

.inforgraphic-box.info-pos-8 {
  top: 135px;
  left: -260px;
  text-align: right;
}

li.text-style.pos-1 {
  top: 37px;
  left: 150px;
}

li.text-style.pos-2 {
  top: 37px;
  left: 280px;
}

li.text-style.pos-3 {
  top: 135px;
  left: 385px;
}

li.text-style.pos-4 {
  top: 275px;
  left: 387px;
}

li.text-style.pos-5 {
  top: 380px;
  left: 290px;
}

li.text-style.pos-6 {
  top: 383px;
  left: 145px;
}

li.text-style.pos-7 {
  top: 280px;
  left: 45px;
}

li.text-style.pos-8 {
  top: 140px;
  left: 45px;
}

// ---------------- RESPONSIVE ----------------

@media screen and (max-width: 800px) {
  .pasos {
    width: auto !important;
  }

  .main-container {
    width: 100%;
  }

  .inforgraphic-box.info-pos-1,
  .inforgraphic-box.info-pos-2,
  .inforgraphic-box.info-pos-3,
  .inforgraphic-box.info-pos-4,
  .inforgraphic-box.info-pos-5,
  .inforgraphic-box.info-pos-6,
  .inforgraphic-box.info-pos-7,
  .inforgraphic-box.info-pos-8 {
    max-width: 150px;
  }

  .inforgraphic-box.info-pos-1 {
    top: -90px;
    left: 40px;
    text-align: right;
  }

  .inforgraphic-box.info-pos-2 {
    top: -90px;
    left: 290px;
  }

  .inforgraphic-box.info-pos-3 {
    top: 70px;
    left: 480px;
    width: 246px;
  }

  .inforgraphic-box.info-pos-4 {
    top: 290px;
    left: 480px;
  }

  .inforgraphic-box.info-pos-5 {
    top: 490px;
    left: 290px;
  }

  .inforgraphic-box.info-pos-6 {
    top: 490px;
    left: 40px;
    text-align: right;
  }

  .inforgraphic-box.info-pos-7 {
    top: 290px;
    left: -155px;
    text-align: right;
  }

  .inforgraphic-box.info-pos-8 {
    top: 125px;
    left: -155px;
    text-align: right;
  }
}
