.banner {
  background: url(../../../content/images/banner-quesos.jpg) no-repeat 50%;
  background-position: center;
  background-size: cover;
  height: calc(100vh - 50px);
  width: 100vw;
  margin: -6px 0 0 -2px;
}

.card-home {
  width: 400px;
  position: absolute;
  left: 10vw;
  top: 50vh;
  padding: 15px;
  border-radius: 15px;
}

.titulo {
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 45px;
}

.parrafo {
  color: #fff;
  margin-top: 15px;
  font-size: 18px;
}

.main-home {
  width: 95%;
  margin: 25px 0;
  padding: 25px;

  & > .pasos {
    .container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 100%;
      flex-wrap: wrap;
      z-index: 1;
    }

    .container .carta {
      position: relative;
      width: 250px;
      height: 150px;
      margin: 30px;
      box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
      border-radius: 15px;
      background: rgba(255, 255, 255, 0.1);
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top: 1px solid rgba(255, 255, 255, 0.5);
      border-left: 1px solid rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(5px);
    }

    .carta .contenido {
      padding: 20px;
      text-align: center;
      transition: 0.5s;
    }

    .contenido h2 {
      position: absolute;
      top: -20px;
      right: 10px;
      font-size: 8em;
      color: rgba(0, 0, 0, 0.05);
      pointer-events: none;
    }

    .contenido h3 {
      font-size: 1.5em;
      color: black;
      z-index: 1;
    }

    .contenido p {
      font-size: 1em;
      color: black;
      font-weight: 300;
    }

    .contenido a {
      position: relative;
      display: inline-block;
      padding: 8px 20px;
      margin-top: 15px;
      background: black;
      color: white;
      border-radius: 20px;
      text-decoration: none;
      font-weight: 500;
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    }
  }
}
