.banner {
  background: url(../../../content/images/banner-quesos.jpg) no-repeat 50%;
  background-position: center;
  background-size: cover;
  height: calc(100vh - 50px);
  width: 100vw;
  margin: -6px 0 0 -2px;
}

.card-home {
  width: 400px;
  position: absolute;
  left: 100px;
  top: 50vh;
  padding: 15px;
  border-radius: 15px;
}

.titulo {
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 45px;
}

.parrafo {
  color: #fff;
  margin-top: 15px;
  font-size: 18px;
}
