.left-side-cisternas {
  width: 47.5%;
}

.right-side-cisternas {
  width: 44.5%;
  margin-left: 52.5%;
  position: absolute;
  top: -1px;
}

.botonera-cisternas {
  position: relative;
  margin-top: 25px;
}
